body {
    background-image: url('f3a31a36-7e7c-4d7a-a2b8-074201239047.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0; 
    padding: 0; 
    height: 100% 
  }